.vscode/settings.json
!API_Project/GoogleVisionAPI/GoogleCloudCredentials
API_Project/GoogleVisionAPI/GoogleCloudCredentials/*
!API_Project/GoogleVisionAPI/GoogleCloudCredentials/README.txt
!API_Project/AWS-RekognitionAPI/AWSCredentials
API_Project/AWS-RekognitionAPI/AWSCredentials/*
!API_Project/AWS-RekognitionAPI/AWSCredentials/README.txt
ImageData/*
.ipynb_checkpoints/*