.vscode/settings.json
!GoogleVisionAPI/GoogleCloudCredentials
GoogleVisionAPI/GoogleCloudCredentials/*
!GoogleVisionAPI/GoogleCloudCredentials/README.txt
!AWS-RekognitionAPI/AWSCredentials
AWS-RekognitionAPI/AWSCredentials/*
!AWS-RekognitionAPI/AWSCredentials/README.txt
